#cloud-config
# Default cloud-init user creation and SSH key injection
users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    ssh_import_id: None
    lock_passwd: true
    ssh_authorized_keys:
      - ${ssh_public_key}

# Update packages non-interactively
package_update: true
package_upgrade: true
package_reboot_if_required: false

# Ensures ssh starts
ssh_pwauth: false
